# Ignore Files
node_modules
dist
db/data

# Docker Production Files
*.prod.yml

# ENV Files
.env.*
!.env.example

# Apple Private Key
config/apple-auth

# Grennlock Files
config/greenlock.d
.greenlockrc