# Ignore Files
node_modules
dist
db/data

# Docker Production Files
*.prod.yml

# ENV Files
.env
.env.*
!.env.example

# Apple Private Key
src/configs/apple-auth

# Grennlock Files
src/configs/greenlock.d
.greenlockrc

# Firebase Json
src/configs/serviceAccount.json